html {
    background-image: linear-gradient(to bottom, #777777, #ffffff);
}

body {
    width: 90%;
    max-width: 1024px;
}

main:first-child p {
    font-size: larger;
    font-style: italic;
}

h1 {
    font-size: x-large;
}

#gc1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "sq1 sq2"
}

#gameC {
    grid-area: sq1;
    width: 100%;
    height: auto;
}

#consoles {
    grid-area: sq2;
    width: 100%;
    height: auto
}

h2 {
    font-style: oblique;
}


#nav_menu ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    padding: 0;
}


#nav_menu ul li {
    width: 20%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #187c18;
    color: #ffffff;
    font-weight: bold;
    border-right: 2px solid #ffffff;
}

p ul {
    margin: 2em;
    padding-bottom: 2em;
    border: 2em;
}

h2 p {
    columns: 2;
}

#gc2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    grid-template-areas:
        "fga1 fga2 fga3"
}

#f3 {
    grid-area: fga1;
    width: 100%;
    height: auto;
}

#fnv {
    grid-area: fga2;
    width: 100%;
    height: auto;
}

#f76 {
    grid-area: fga3;
    width: 100%;
    height: auto;
}

#gw1 {
    width: 1200px;
    height: 450px;
}

#fl2 {
    display: flex;
}

#marcus1 {
    width: 50%;
}

#fl2txt {
    padding-left: 10px;
}

/*media to change according to device screen*/
@media only screen and (max-width: 782px) {
    #nav_menu ul {
        font-size: 14px;
        flex-direction: column;
    }

    #nav_menu ul li {
        width: 100%;
    }
}

@media only screen and (max-width: 588px) {
    #nav_menu ul {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1030px) {
    #gw1 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1030px) {
    #halo2 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1030px) {
    #mass1 {
        width: 100%;
        height: auto;
    }
}





